
}
li:hover {
  color: #00ff00;
  font-size: 20px; 
}

.item_2 {
  float:left;
  list-style:none;
}
.item_3 {
  float:left;
  list-style:none;
}
.item_4 {
  float:left;
  list-style:none;
}
.item_5 {
  float:left;
  list-style:none;
}
.item_6 {
  float:left;
  list-style:none;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}