/* header*/

.container {
	width: 1213px;
	margin: auto;
	display: flex;
	flex-direction: column;
}

.header-wrapper {
	padding-top: 38px;
	display: flex;
	justify-content: space-between;
	margin: 0px;
	align-items: center;

}

.navigation-menu {
	display: flex;
	justify-content: space-between;
	list-style: none;
	text-transform: uppercase;
	font-size: 14px;
	color: #b0e9de; 
}

.navigation-item {
	margin-right: 60px; 
}

.navigation-item:last-child {
	margin-right: 0px; 
} 


/*main*/

.main {
	margin-top: 26px; 
	margin: auto; 
}

/* section about services*/

.service-wrapper{
	display: flex;
	flex-direction: column;
}

.services-header {
	
}

.services-header::after {
	content:" "; 
	display: block;
	margin: auto;
	width: 60px; 
	height: 2px; 
	background-color: #f38181;
    margin-top: 45px; 
}

.services-list {
	list-style: none;
	display: flex;
	flex-wrap: wrap; 
}
 
 

/*team section*/

.team-wrapper {
	display: flex;
	display: column; 
} 

.team-list {
	list-style: none;
	display: flex;
	
} 

