
/* header********************************************************************************/
.header-menu {
	padding-top: 43px;
}

.header-menu-wrapper {
	display: flex; 
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin:auto;
	width: 1110px; 
}

.navigation-menu {
	display: flex;
 	justify-content: space-between; 
 	width: 467px;
	font-size: 14px;
    font-family: "OpenSans-bold", sans-serif;
    color: #0f0101; 
    font-weight: bold;
    text-transform: uppercase;
}

.navigation-list {
	margin-left: 30px; 
 	margin: auto;
} 

.navigation-list:last child {
	margin-left: 0px; 
}

.navigation-list:hover {
	color: #48c9b0;
}


/*first section class="first-section"< image / Affordable paris tours >*********************/
.first-section {
	position: relative;
	background-image: url("../img/bg.png");
	background-repeat: no-repeat;
	height: 601px;
	width: 1600px; 
	margin:auto;
} 

.section-content {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    width: 1116px;
    height: 116px; 
    margin: auto;
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    z-index: 3;
}

.header-text {
	font-family: "Roboto", sans-serif;
	color: #ffffff;
}

.header-name {
	font-size: 60px;
	font-weight: 900;
	letter-spacing: -2px;
	text-transform: uppercase;
	padding-bottom: 20px;
	margin: auto; 
}

.header-name-small {
	 font-family: "Roboto", sans-serif;
	 font-size: 25px; 
	 font-weight: 200;
	 text-transform: uppercase;
}

@keyframes word {
    50%  {color:#ffffff;}
    100%  {color:#ff7200;}
}

.highlight {
	animation-name: word;
	color: #ff7200;
    animation-duration: 1s;
    animation-iteration-count: infinite;
} 

.button {
	background-color: #55a290; 
	opacity: 0.85;
	border-style: none;
	width: 104px; 
	height: 104px; 
	color: #ffffff; 
	font-size: 100px; 
	padding: 0px;
	margin-top: 20px;
	cursor: pointer;
} 

.button:hover {
	opacity: 1;  
}

.opacity-block {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.4); 
	z-index: 2; 
}

/*second secton_ products & prices*************************************************************************************/
.second-section {
	display: flex;
	flex-direction: column;
	margin: auto;
	background-color: #e9f0fd;
	width: 1600px; 
}	 

.collection-list {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	margin:auto;
	padding: 0px 0px 98px 0px;
}

.collection-header {
	font-family: "Roboto";
	font-weight: 900;
	font-size: 48px;
	color: #515151;
	text-transform: uppercase;
	margin: 0px;
	padding-top: 101px; 
	padding-bottom: 80px; 
	text-align: center;
}

.collection-header::after {
	content:" "; 
	display: block;
	margin: auto;
	width: 164px; 
	height: 7px; 
	background-color: #48c9b0;
    margin-top: 32px; 
} 

.collection-item-wrapper {
	position: relative;

}

.collection-item {
	margin-right: 30px;
	width: 255px; 
	font-size: 0px;
}

.collection-item:last-child {
	margin-right: 0px;
	    
}

.collection-name-price{
	display: flex;
	justify-content: space-between; 
	text-transform: uppercase;
	font-family: "Roboto", sans-serif;
	font-weight: bold;
	font-size: 18px; 
	line-height: 32px; 
	color: #ffffff;
	background-color: #323232;
}

.collection-item:hover .collection-name-price {
    background-color: #1abc9c;
}

.collection-name {
	padding-left: 13px; 
	margin:0px;
}

.collection-price{
	width: 54px; 
	text-align: center; 
	margin:0px;
	background-color: #8c8c8c; 
	font-family: "OpenSans", sans-serif;
}

.collection-item:hover .collection-price {
    background-color: #7fd9c7;
}

/*hidden pannel**************************************************************************************************/  

.hidden-container{
  	visibility: hidden;
   	width: 235px;
  	height: 260px;
 	background-color: #737373;
    opacity: 0.5;  
 	position: absolute;
 	top: 11px;
 	left: 11px;
 	z-index: 40; 
 }	

.hidden-list-icons {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	position: absolute; 
	z-index: 90;
	width: 166px;  
	padding-left: 35px; 
	top: 80px; 
	margin:auto;
}

.collection-item-wrapper:hover .hidden-container {
	visibility: visible;
}

.icons {
 	border-color: #ffffff;
 	border-style: solid;
  	font-size: 30px; 
  	color: #ffffff;
 	width: 50px;
 	height: 50px;
 	padding: 8px;
 	background: none; 
 }

.icons:hover {
	color: #ffffff;
	background: #1abc9c;
    opacity: 1;
    border: transparent;
}

.icon-link {
	color: #ffffff; 

}

.icon-link:hover {
	color: #ffffff;
} 									

/* cart container **************************************************/
.icon-cart-box {
    border-color: #ffffff;
 	border-style: solid;
  	color: #ffffff;
 	width: 166px;
 	height: 50px;
 	margin-top: 7px;
 	background: none; 
 }

.icon-cart-box:hover  {
   background: #323232; 
   opacity: 1;
}

.icon-link-cart {
	color: #ffffff; 
	font-size: 30px; 
	text-align: center;
} 

 .icon-cart-text {
	display: inline-block; 
	font-size: 14px; 
	color: #ffffff;
	font-family: "OpenSans", sans-serif;
	text-transform: uppercase;
}
 
/*footer *****************************************************************************************/
.footer-info {
	background-color: #323232;
	color: rgb(255 255 255);
	text-align: center;
	height: 63px;
	width: 1600px; 
	margin: auto; 
}

.footer-text {
	margin: auto; 
	padding-top: 20px;
}

.brand-company{
    color: #42a391;
}

